apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

bases:
  - ../../base

nameSuffix: -dev

replicas:
  - name: http-hello-world
    count: 1

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: http-hello-world
      spec:
        template:
          spec:
            containers:
            - name: http-hello-world
              resources:
                requests:
                  memory: "32Mi"
                  cpu: "50m"
                limits:
                  memory: "64Mi"
                  cpu: "100m"
  - patch: |-
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: http-hello-world
      spec:
        rules:
        - host: hello-world-dev.example.com

commonLabels:
  environment: dev
