apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app: http-hello-world
  managed-by: argocd

images:
  - name: fabienfleureau/http-hello-world
    newTag: latest
